.landingPage {
         /* background-color: blueviolet;  */
        background-image: url('../../images/landingImage.jpg');
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    
    .button {
        box-shadow: 0px 10px 14px -7px #276873;
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        background-color:#599bb3;
        border-radius:8px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        text-shadow:0px 1px 0px #3d768a;
    }
    .button:hover {
        background:linear-gradient(to bottom, #292966 5%, #292966 100%);
        background-color:#292966;
    }
    .button:active {
        position:relative;
        top:1px;
    }
    
.title{
font-family: "Arial Black", Gadget, sans-serif;
font-size: 40px;
letter-spacing: 5.8px;
word-spacing: -5px;
color: #000000;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
}

